* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 1295px) {
    #root {
        max-width: 1100px;
    }
}
@media only screen and (max-width: 1175px) {
    #root {
        max-width: 900px;
    }
}



