.footer {
    background-color: #a4a4a4;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.linksInner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    
}

.link {
    padding: 5px 15px;
    color: #fff;
    font-size: 14px;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    text-decoration: none;
}

@media only screen and (max-width: 868px) {
    .linksInner {
        margin-top: 20px;
        justify-content: center;
    }
}