.title {
    text-align: center;
    padding: 20px;
    min-height: 50px;
}
.Slider {
    margin: 100px 0;
}
.newsTitle{
    text-align: center;
    /* padding: 20px; */
    min-height: 50px;
}
.newsItem {
    padding: 10px;
}
.newsImg {
    width: 100%;
    margin: 10px 0;
}
